[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundles/arduino"]
	path = bundles/arduino
	url = https://github.com/kingbin/vim-arduino.git
[submodule "bundle/arduino"]
	path = bundle/arduino
	url = https://github.com/kingbin/vim-arduino.git
